# Sanity Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=zzzwo1aw
NEXT_PUBLIC_SANITY_DATASET=production

# Sanity Revalidation Secret (generate a random string)
SANITY_REVALIDATE_SECRET=your-secret-here

# WordPress Import (server-side only)
SANITY_TOKEN=skIEbJXNZE6JhoBABBw7Hi0vVfOlo60iTEBU3mn4NLnSSSGKYXhK7WRVmyHDFfKEVPLDnx2GAuwoxRZ2TyX0kR9Eow60TS0yQmcc8pKqVY7qUWZVOKhif7b1yabPKKIul0iIkeATGoLYwhTZDBX4L1dqAPbiLZAO9eFphwJDF4H4vP0NX5bm
WORDPRESS_URL=https://ps6news.com
